:root {
  display: flex;
  justify-content: center; /* centra horizontal */
  align-items: center; /* centra vertical */
  height: 100vh; /* ocupa toda la pantalla, puedes ajustar */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
