:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.normal {
  border: 1px solid gray;
  width: 100px;
  height: 120px;
  text-align: center;
}

.fondo {
  background-color: white;
  color: black;
  border: 2px solid black;
  width: 100px;
  height: 120px;
  text-align: center;
}

.estilo {
  border: 4px solid orange;
  color: red;
  background-color: white;
  width: 100px;
  height: 120px;
  text-align: center;
}

.counter {
  width: 130px;
  height: 250px;
  border: 1px solid white;
  text-align: center;
}
